{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "rules": {
    "quotes": ["error", "backtick"],
    "no-console": [
      "warn",
      {
        "allow": [
          "info",
          "warn",
          "error"
        ]
      }
    ]
  }
}
