// colors and names from material design palette
// https://material.google.com/style/color.html#color-color-palette

$BLACK: #000;
$GREY_900: #212121;
$GREY_700: #616161;
$GREY_300: #E0E0E0;
$GREY_100: #F5F5F5;
$GREY_50: #f5f5f5;
$BLUE_GREY_50: #ECEFF1;
$WHITE: #FFFFFF;

$DEEP_ORANGE_900: #BF360C;

$GREEN: #4caf50;
$ORANGE: #ff9800;
$RED: #f44336;
$BLUE: #3f51b5;

$PAGE_WIDTH: 1024px;
$HEADER_HEIGHT: 60px;
$SCORE_BAR_HEIGHT: 54px;

$Z_INDEX_HEADER: 1;
$Z_INDEX_SCORE_BAR: 2; // just to put it above the header's shadow
$Z_INDEX_MODAL: 3;