@import '../global';

.score-buttons {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;

  &--in-row {
    // on a small screen, the buttons inside a row must
    // collapse down to a single 2px strip on the right
    @include for-tablet-portrait-down {
      margin: -6px -6px -6px 6px;
      align-self: stretch;
    }
  }

  &--score-bar {
    background: $BLACK;
    border: 2px solid black; // to allow the highlight surround to show nicely
  }
}

.score-buttons__score-button {
  background: $BLACK;
  color: $WHITE;
  user-select: none;
  padding: 8px 10px;
  border: 1px solid black; // border all way round so it doesn't move when selected

  // the buttons that show in each row on a big screen
  .score-buttons--in-row & {
    border-radius: 4px;
    background: $WHITE;
    color: $GREY_700;
    border: 1px solid $GREY_300;
    margin-left: 10px;

    @include for-tablet-portrait-down {
      display: none;
      white-space: nowrap; // stop the text pushing the height up
      overflow: hidden;
      width: 1px; // 0px seems to have no effect on iOS
      padding: 0;
      margin: 0;
      outline: 1px solid; // colors set on style

      &--selected {
        display: block;
      }
    }
  }

  // the buttons at the bottom of the screen on small screens
  .score-buttons--score-bar & {
    flex: 1;
    text-transform: uppercase;
    // keep them pretty fat because there's always other tappy stuff near the bottom of phones
    padding: 6px 3px;

    &--selected {
      outline: 2px solid; // colors set on style
      border: 1px solid; // colors set on style
      z-index: 2;
    }

    &:not(:first-of-type) {
      border-left: 1px solid $GREY_700;
    }
  }
}
