@import '../global';

.table-row {
    position: relative;

    .table-row { // only second level down to be indented
        margin-left: 10px;
        border-left: 1px solid #eee;
    }
}

.table-row__content {
    display: flex;
    align-items: stretch;
    padding: 6px 6px 6px 8px;
    transition: 150ms;
    border-bottom: 1px solid $GREY_300;

    .table-row--selected > & {
        background: $GREY_50;
        box-shadow: inset 0 0 0 1px $GREY_900;
    }
}

.table-row__words {
    flex: 1;
    //border: 1px dotted red;
    //padding: 4px 8px;
}

.table-row__triangle-wrapper {
    //border: 1px dotted blue;
    display: flex;
    align-items: center;
    width: 30px;
    user-select: none;

    .table-row--has-no-children & {
        display: none;
    }

}

.table-row__triangle-icon {
    color: $GREY_300;
    transition: 300ms;

    .table-row--expanded > .table-row__content & {
        transform: rotateX(180deg);
    }
}

.table-row__name {
    margin-top: 2px;

    .table-row--code & {
        font-family: monospace;
    }
}

.table-row__notes {
    margin-top: 4px;
    color: $GREY_700;
}

.table-row__tag-wrapper {
    margin-top: 6px;
    color: $GREY_900;
}

//.table-row__notes-tag-wrapper {
//    color: $GREY_2;
//}

.table-row__score-wrapper {
    @include for-small-only {
        display: none;
    }
    flex: 1;
    text-align: right;
    margin-right: 10px;
}

.table-row__do-not-care-button {
    @include for-small-only {
        display: none;
    }
    width: 60px;
    padding: 5px;
    border: 1px solid $GREY_900;
    border-radius: 4px;
    background: $WHITE;
    color: $GREY_900;
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 10px;
}

.table-row__tag {
    //border-radius: 4px;
    background: $BLUE_GREY_50;
    padding: 2px 6px;
    margin-right: 4px;
    font-size: 12px;
}

.table-row__score-button {
    display: inline-block;
    background: $WHITE;
    color: $PRIMARY;
    border: 1px solid $PRIMARY;
    padding: 10px;
    border-radius: 4px;
    margin-right: 10px;
    user-select: none;

    &--selected {
        display: inline-block;
        background: $PRIMARY;
        color: $WHITE;
        border: 1px solid $PRIMARY;
    }
}

.table-row__score-button-input {
    position: absolute;
    transform: translateX(-100vw);
}
