@import '../global';

.table-row {
    position: relative;

    .table-row { // only second level down to be indented
        margin-left: 12px;
        border-left: 1px solid #eee;

        @include for-tablet-portrait-up {
            margin-left: 20px;
        }
    }
}

.table-row__content {
    display: flex;
    align-items: center;
    padding: 6px 6px 8px 4px;
    transition: 150ms;
    border-bottom: 1px solid $GREY_300;

    .table-row--selected > & {
        background: $GREY_50;
    }
}

.table-row__triangle-wrapper {
    display: flex;
    align-items: center;
    user-select: none;

    .table-row--has-no-children & {
        display: none;
    }

}

.table-row__triangle-icon {
    color: $GREY_300;
    width: 24px;
    overflow: hidden;
    transition: 300ms;

    .table-row--expanded > .table-row__content & {
        width: 0;
        transform: rotateY(180deg);
    }
}

.table-row__words {
    flex: 1;
    padding-left: 4px;
}

.table-row__score-button-wrapper {

}

.table-row__name {
    margin-top: 2px;

    .table-row--code & {
        font-family: monospace;
        font-size: 110%;
    }
}

.table-row__notes {
    margin-top: 4px;
    color: $GREY_700;
}

.table-row__tag-wrapper {
    margin-top: 6px;
    color: $GREY_900;
}

.table-row__tag {
    background: $BLUE_GREY_50;
    padding: 2px 6px;
    margin-right: 4px;
    font-size: 12px;
}
