@import '../global';

.skill-table {
    margin: 0 auto;
    max-width: 1024px; // so we see no red at iPad landscape
    background: $WHITE;

    @include for-tablet-portrait-up {
        box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    }
}