html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body, h1, h2, h3, p {
  margin: 0;
  font-size: 100%;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  outline: 0;
}

button {
  background-color: transparent;
  border: 0;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  letter-spacing: 1px;
}