@import '../global';
@import './reset';

html {
  height: 100%;
}

body {
  min-height: 100%;
  color: $GREY_900;
  font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  background: linear-gradient(-20deg, darken($DEEP_ORANGE_900, 10%), $DEEP_ORANGE_900 70%) fixed;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.02em;
}

.app__header {
  text-align: left;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: $PAGE_WIDTH;

  @include for-tablet-portrait-up {
    text-align: center;
  }
}

.app__tweet {
  width: 60px;
  height: 20px;
}

.app__header-title {
  flex: 1;
  padding: 0 10px;
  font-size: 30px;
  color: $WHITE;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;

  @include for-tablet-portrait-up {
    font-size: 40px;
  }
}

.app__header-help {
  padding: 15px 0; // nice fat tap area
  font-size: 14px;
  text-decoration: underline;
  color: rgba($WHITE, 0.8);
}

.app__table {
  margin: 0 auto;
  max-width: $PAGE_WIDTH;
  background: $WHITE;

  @include for-tablet-portrait-up {
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
  }
}
