@import '../global';
@import './reset';

html {
  height: 100%;
}

body {
  min-height: 100%;
  color: $GREY_900;
  overflow-y: scroll;
  overflow-x: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.02em;

  @include for-tablet-landscape-up {
    background: linear-gradient(-20deg, darken($DEEP_ORANGE_900, 10%), $DEEP_ORANGE_900 70%) fixed;
  }
}

body.block-scroll {
  overflow: hidden;
  overflow-y: scroll !important;
  position: fixed;
  width: 100%;
}

.app__header {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: $PAGE_WIDTH;
  height: $HEADER_HEIGHT;

  @include for-tablet-portrait-down {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: $DEEP_ORANGE_900;
    z-index: $Z_INDEX_HEADER;
    box-shadow: 0 1px 2px rgba($GREY_900, 0.5);
  }

  @include for-tablet-portrait-up {
    padding: 8px 17px;
  }
}

.app__tweet {
  width: 60px;
  height: 20px;
}

.app__header-title {
  flex: 1;
  font-size: 28px;
  line-height: 28px;
  padding-bottom: 2px; // to align in nicely with the hamburger
  color: $WHITE;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  white-space: nowrap;

  @include for-tablet-portrait-up {
    font-size: 40px;
  }
}

.app__hamburger {
  padding: 10px 0;
  width: 30px;
  height: 30px;
  background-image: repeating-linear-gradient(
    180deg,
    transparent,
    transparent 6px,
    $WHITE 6px,
    $WHITE 8px
  );
}

.app__table {
  margin: 0 auto;
  max-width: $PAGE_WIDTH;
  background: $WHITE;
  transition: margin-top 300ms;

  @include for-tablet-portrait-down {
    margin-top: $HEADER_HEIGHT;

    body.score-bar-open & {
      margin-top: $HEADER_HEIGHT + $SCORE_BAR_HEIGHT;
    }
  }

  @include for-tablet-landscape-up {
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
  }
}
