@import '../global';

// don't show the placeholder <a>
// when the twitter library loads, this class is moved to an iFrame
.info-modal__background {
  background: rgba($GREY_900, 0.8);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $Z_INDEX_MODAL;
}

.info-modal {
  display: flex;
  flex-direction: column;
  background: white;

  @include for-phone-only {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @include for-tablet-portrait-up {
    box-shadow: 0 0 30px $GREY_900;
    width: 96vw;
    height: 87vh; // any bigger is too big on iOS
    max-height: 800px;
    max-width: 800px;
  }
}

.info-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 0 0 10px;
  background: $DEEP_ORANGE_900;
  color: $WHITE;

  @include for-tablet-landscape-up {
    padding: 0 0 0 20px;
  }
}

.info-modal__title {
  font-size: 30px;
  font-weight: 400;
}

.info-modal__body {
  flex: 1;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;

  @include for-tablet-landscape-up {
    padding: 10px 20px 20px;
  }
}

.info-modal__info-link {
  display: block;
  color: $BLUE;
  padding: 5px 0;
  text-decoration: underline;
  font-size: 16px;
}

.info-modal__section-title {
  color: $DEEP_ORANGE_900;
  border-bottom: 1px solid $GREY_300;
  font-size: 19px;
  font-weight: 400;
  margin-top: 30px;
  padding: 5px 0;
  text-align: center;
}

.info-modal__unknown-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $GREY_50;
  padding-left: 5px;
  &:hover {
    background-color: $DEEP_ORANGE_100;
  }
}

.info-modal__unknown-item-text {
  flex: 1;
}

.info-modal__unknown-item-link {
  padding: 10px;

  svg {
    vertical-align: middle;
  }

  path {
    fill: $BLUE;
  }
}

.info-modal__close {
  font-size: 30px;
  padding: 8px 15px 8px;
  //color: $GREY_700;
}
